/.venv
/Qwen3-VL-2B-Thinking-GGUF
/__pycache__
/Test
/.cursor
/uploads
/vector_db
/agent/__pycache__
/agent/tools/__pycache__
/embedding/Qwen3-Embedding-0.6B
AviList-v2025-11Jun-extended.xlsx
/data/chroma_db
/embedding/cache
AviList-v2025-11Jun-extended.xlsx
